@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins-regular';
}
body{
    font-weight: bold;
    height: 500vh;
}
.container{
    margin: 0 10%;
    margin-top: 120px;
    
}
.container p{
    margin: 0px 10px;
}