.search-area{
    display: flex;
    flex-direction: column;
    width:60%;
}
.search-top{
    display: flex;
    justify-content: space-between;
}
.container p{
    margin: 0px 0px;
}
.search-down{
    border: 1px solid;
    margin: 5px 10px;
    border-radius: 10px;
}
.search-down input{
    border: 0;
    height: 100%;
    width: 96%;
    font-size: 20px;
    outline: none;
}
#fontAw{
    margin-left: 5px;
}
.jobs-container{
    margin-left: 10%;
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
    row-gap: 2rem;
    grid-auto-rows: 170px;
}